@charset "utf-8";

body {
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: normal;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #00f;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2em;
}

h1 a {
    color: #000;
}

#container {
    max-width: 45rem;
    padding: 40px 20px;
    margin-right: auto;
    margin-left: auto;
}

dl {
    text-indent: 2rem;

}

dl dt {
    font-weight: bold;
}

dl dt dd a {
    margin: 0;
}
