@charset "utf-8";

body {
    font-family: :"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

#container {
    max-width: 460px;
    padding: 40px 20px;
    margin-right: auto;
    margin-left: auto;
}

#main {}
